//Section Corporate Clients & Testimonials
section.section-lg.text-center
  .container.text-lg-start
    h2 Extended Testimonials
    hr
    // Owl Carousel
    .owl-carousel.text-md-start(
      data-items='1',
      data-loop='false',
      data-margin='30',
      data-autoplay="true",
      data-owl!={
        dots: true
      }
    )
      .row
        .col-12.col-lg-3.text-center.img-width-auto
          img(src="images/clients-2.png" alt="" width="180" height="164")
          h6.text-ubold
            a(href="#") Woodwust New York
          a(href="#").text-sushi woodwust.com
        .col-12.col-lg-4
          p Our mission is to add value for our customers by helping them achieve their desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace.
          p Our commitment to supporting and adding value for our customers drives everything we do.
        .col-12.col-lg-5.offset-custom-5
          blockquote.quote
            .img-wrap
              img(src="images/index-18.jpg" alt="" width="50" height="50")
            cite.text-start
              span.h6.text-primary.text-ubold Diana Valdez
              span.text-lightest Teacher, San Diego
            p
              q Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!
      .row
        .col-12.col-lg-3.text-center.img-width-auto
          img(src="images/clients-2.png" alt="" width="180" height="164")
          h6.text-ubold
            a(href="#") Woodwust New York
          a(href="#").text-sushi woodwust.com
        .col-12.col-lg-4
          p Our mission is to add value for our customers by helping them achieve their desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace.
          p Our commitment to supporting and adding value for our customers drives everything we do.
        .col-12.col-lg-5.offset-custom-5
          blockquote.quote
            .img-wrap
              img(src="images/index-17.jpg" alt="" width="50" height="50")
            cite.text-start
              span.h6.text-primary.text-ubold Richard Santos
              span.text-lightest Web Designer, New York
            p
              q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
      .row
        .col-12.col-lg-3.text-center.img-width-auto
          img(src="images/clients-2.png" alt="" width="180" height="164")
          h6.text-ubold
            a(href="#") Woodwust New York
          a(href="#").text-sushi woodwust.com
        .col-12.col-lg-4
          p Our mission is to add value for our customers by helping them achieve their desired level of quality and safety for their products, assets and processes; to protect their brands and enable their success in the global marketplace.
          p Our commitment to supporting and adding value for our customers drives everything we do.
        .col-12.col-lg-5.offset-custom-5
          blockquote.quote
            .img-wrap
              img(src="images/index-16.jpg" alt="" width="50" height="50")
            cite.text-start
              span.h6.text-primary.text-ubold Laura Russell
              span.text-lightest Journalist, San Diego
            p
              q Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!