//Section Find your home
section.section-lg
  .container
    .row
      .col-12.col-xl-8
        h1 H1 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find Hexactly what he/she is looking for.
        p With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out.
        h2.offset-custom-13 H2 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h3.offset-custom-13 H3 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h4.offset-custom-13 H4 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h5.offset-custom-13 H5 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h6.offset-custom-13 H6 Heading
        p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
        h3 Blockquote
        blockquote.quote.quote-mod-1
          p
            q Real estate is a challenging career because you are a part time sales person, part time manager, part time marketing guru, and part time counselor. Meanwhile, you have to make a full time living.
          p
            cite Michelle Beck
        h3 HTML Text Elements
        p.text-abbey
          a(href="#") Link Text
          =' '
          a(href="#").text-olive-drab Link Hover Text
          =' '
          span.text-lightest  Press Link
          =' '
          | Welcome to our wonderful world.
          =' '
          span.text-lightest(data-bs-toggle="tooltip" data-bs-placement="top" title="Details") Tooltips
          |  We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
          =' '
          strong Bold Text
          =' '
          span.text-mark highlighted text
          =' '
          | With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
          =' '
          em Italic text
          =' '
          del strickethrough text
          =' '
          u underlined text
        h3 Unordered and Ordered Lists
        p.text-abbey
          | Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
        ul.list-marked.text-start
          li
            a(href="#") Highly Customizable;
          li
            a(href="#") Pre-Built Pages;
          li
            a(href="#") Clean Design;
          li
            a(href="#") Extensive Options;
          li
            a(href="#") Top Notch Quality.
        p.text-abbey
          | Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.
        ol.ordered-list.text-start
          li
            a(href="#") Highly Customizable;
          li
            a(href="#") Pre-Built Pages;
          li
            a(href="#") Clean Design;
          li
            a(href="#") Extensive Options;
          li
            a(href="#") Top Notch Quality.
        h3 Icon List
    .row.flow-offset-8
      .col-md-6.col-lg-3
        +media("media-mod-6","linecons-location4 icon icon-lg bg-accent", "Various Locations", "Search by state then by city to find an apartment  overlooking the lake in Chicago, within walking distance of the beach in Los Angeles or in the heart of Atlanta.")
      .col-md-6.col-lg-3
        +media("media-mod-6","linecons-camera7 icon icon-lg bg-accent", "View Apartments", "View apartment listings with photos, HD videos, InsideView virtual tours, 3D floor plans, and more, while also choosing the apartment and community features that you want.")
      .col-md-6.col-lg-3
        +media("media-mod-6","linecons-blockade icon icon-lg bg-accent", "Privacy and Security", "Renters insurance helps keep your belongings secure, whether they're on your desk, under your couch, or in some cases, even in your car's glove box.")
      .col-md-6.col-lg-3
        +media("media-mod-6","linecons-banknote icon icon-lg bg-accent", "No Commission", "You will therefore appreciate this opportunity to acquire a high-quality apartment for rent without having to pay any commission to our real estate agency.")
    .row.offset-custom-3
      .col-12.col-xl-8
        h3 Image Centered
        img(src="images/typography-1.jpg" alt="" width="770" height="520")
        p.text-lightest.h6 Light room
        p.text-abbey Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .row.offset-custom-3
      .col-12.col-xl-8
        h3 Image Left
        .media.media-mod-2
          .media-left
            img(src="images/typography-2.jpg" alt="" width="370" height="250")
          .media-body
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
    .row.offset-custom-3
      .col-12.col-xl-8
        h3 Image Right
        .media.media-mod-2
          .media-body
            p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
          .media-right
            img(src="images/typography-2.jpg" alt="" width="370" height="250")
