section.section-lg.bg-gray-dark
   .container.text-center.text-xl-start
      h2 Choose Your Plan
      hr
      .row.text-center.flow-offset-9
         .col-12.col-md-6.col-xl-3
            .pricing-wrapper-mod-1.thumbnail-mod-1.bg-default
               .pricing-head
                  h6.text-ubold Personal
               .price
                  h2.text-primary 29.00
                     span.text-light-custom.text-ubold /month
               ul.pricing-body.bg-default.list-marked.text-start
                  li Highly Customizable
                  li Pre-Built Pages
                  li Clean Design
                  li Extensive Options
               .pricing-footer
                  a.btn.btn-sm.btn-min-width.btn-sushi(href="#") Buy Now
         .col-12.col-md-6.col-xl-3
            .pricing-wrapper-mod-1.thumbnail-mod-1.bg-default
               .pricing-head
                  h6.text-ubold Professional
               .price
                  h2.text-primary 49.00
                     span.text-light-custom.text-ubold /month
               ul.pricing-body.bg-default.list-marked.text-start
                  li Highly Customizable
                  li Pre-Built Pages
                  li Clean Design
                  li Extensive Options
               .pricing-footer
                  a.btn.btn-sm.btn-min-width.btn-sushi(href="#") Buy Now
         .col-12.col-md-6.col-xl-3
            .pricing-wrapper-mod-1.thumbnail-mod-1.bg-default
               .pricing-head
                  h6.text-ubold Business
               .price
                  h2.text-primary 79.00
                     span.text-light-custom.text-ubold /month
               ul.pricing-body.bg-default.list-marked.text-start
                  li Highly Customizable
                  li Pre-Built Pages
                  li Clean Design
                  li Extensive Options
               .pricing-footer
                  a.btn.btn-sm.btn-min-width.btn-sushi(href="#") Buy Now
         .col-12.col-md-6.col-xl-3
            .pricing-wrapper-mod-1.thumbnail-mod-1.bg-default
               .pricing-head
                  h6.text-ubold Gold
               .price
                  h2.text-primary 109.00
                     span.text-light-custom.text-ubold /month
               ul.pricing-body.bg-default.list-marked.text-start
                  li Highly Customizable
                  li Pre-Built Pages
                  li Clean Design
                  li Extensive Options
               .pricing-footer
                  a.btn.btn-sm.btn-min-width.btn-sushi(href="#") Buy Now
