//Section Tables Light Header
section.section-lg
  .container
    h2 Secondary Color Header
    hr
    .row
      .col-xl-8
        .table-mobile
          table.table.table-simple.table-accent
            thead
              tr.bg-accent
                th Column 1
                th Column 2
                th Column 3
                th Column 4
            tbody
              tr
                td Item #1
                td Description
                td Description
                td $1.00
              tr
                td Item #2
                td Description
                td Description
                td $2.00
              tr
                td Item #3
                td Description
                td Description
                td $3.00
              tr
                td Item #4
                td Description
                td Description
                td $4.00
              tr.text-abbey
                td All Items
                td Description
                td Description
                td $10.00
