//Section Tables Dark Header
section.section-lg.bg-gray-dark
  .container
    h2 Main Color Header
    hr
    .row
      .col-xl-8
        .table-mobile
          table.table.table-simple.table-sushi
            thead
              tr.bg-sushi.text-white
                th Column 1
                th Column 2
                th Column 3
                th Column 4
            tbody
              tr
                td Item #1
                td Description
                td Description
                td $1.00
              tr
                td Item #2
                td Description
                td Description
                td $2.00
              tr
                td Item #3
                td Description
                td Description
                td $3.00
              tr
                td Item #4
                td Description
                td Description
                td $4.00
              tr.text-abbey
                td All Items
                td Description
                td Description
                td $10.00
