//Calendar
section.section-lg
  .container-fluid.container-fluid-mod-1.text-center.text-xl-start
    // RD Calendar
    .rd-calendar#chapters-select
      .rdc-panel.text-center
        a.rdc-prev
        span.rdc-month.h4
        span.rdc-fullyear.h4.preffix-1
        a.rdc-next
      .rdc-table
      .rdc-events
        a.rdc-events_close
        ul.list-unstyled
          li.rdc-event(data-date='12/30/2021')
            table.table
              thead
                tr
                  th(colspan="3"): .h4 Available Appointments:
              tbody
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 10:00 am - 11:00 am
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 11:10 am - 12:10 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr.disabled
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 12:20 pm - 1:20 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 1:30 pm - 2:30 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 2:40 pm - 3:40 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 3:50 pm - 4:50 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 5:00 pm - 6:00 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
          li.rdc-event(data-date='01/14/2022')
            table.table
              thead
                tr
                  th(colspan="3"): .h4 Available Appointments:
              tbody
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 10:00 am - 11:00 am
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 11:10 am - 12:10 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr.disabled
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 12:20 pm - 1:20 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 1:30 pm - 2:30 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 2:40 pm - 3:40 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 3:50 pm - 4:50 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 5:00 pm - 6:00 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
          li.rdc-event(data-date='02/14/2022')
            table.table
              thead
                tr
                  th(colspan="3"): .h4 Available Appointments:
              tbody
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 10:00 am - 11:00 am
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 11:10 am - 12:10 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr.disabled
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 12:20 pm - 1:20 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 1:30 pm - 2:30 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 2:40 pm - 3:40 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 3:50 pm - 4:50 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
                tr
                  td
                    span.icon.icon-primary.fa-clock-o
                    time(datetime="2021") 5:00 pm - 6:00 pm
                  td 2 time slots available
                  td: button.btn-link-primary(data-bs-toggle="modal" data-bs-target="#appointment").text-primary Book Appointment
    // Modal
    #appointment.modal.fade(role='dialog').text-start
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-bs-dismiss='modal'): span.icon.icon-light.icon-xxs.fa-close
            h5.modal-title.border-bottom Request Appointment
          .modal-body
            .form-wrap
              span
                span.icon.icon-primary.fa-calendar
                | May 26, 2021
              span.preffix-2
                span.icon.icon-primary.fa-clock-o
                | 10:00 am
            .radio
              label
                input( type="radio" name="optradio" value='login')
                | I am a new customer
            .radio
              label
                input( type="radio" name="optradio" value='register' checked='checked')
                | I am a current customer
            .register-form
              h5.border-bottom Registration

              // Login form
              form.offset-custom-10
                .form-wrap
                  label.form-label(for="name-2") Username or e-mail
                  input#name-2.form-input(type="text" name="name" )
                .form-wrap
                  label.form-label(for="email") E-mail
                  input#email.form-input(type="text" name="name" )
                .form-wrap
                  label.form-label(for="password-2") Password
                  input#password-2.form-input(type="password" name="password" )
                .form-wrap-btn
                  button(type="submit").btn.btn-sushi.btn-sm.btn-min-width-xs Enter

                  .icon-group
                    a.icon.icon-sm.icon-social.fa-facebook(href="#")
                    a.icon.icon-sm.icon-social.fa-twitter(href="#")
                    a.icon.icon-sm.icon-social.fa-google-plus(href="#")
            .login-form
              h5.border-bottom Login

              // Login form
              form.offset-custom-10
                .form-wrap
                  label.form-label(for="name") Username or e-mail
                  input#name.form-input(type="text" name="name" )
                .form-wrap
                  label.form-label(for="password") Password
                  input#password.form-input(type="password" name="password" )
                .form-wrap-btn
                  button(type="submit").btn.btn-sushi.btn-sm.btn-min-width-xs Enter

                  .icon-group
                    a.icon.icon-sm.icon-social.fa-facebook(href="#")
                    a.icon.icon-sm.icon-social.fa-twitter(href="#")
                    a.icon.icon-sm.icon-social.fa-google-plus(href="#")