//Section Isotope
section.section-lg
	.container.isotope-wrap
		.btn-group-isotope.isotope-filters.isotope-filters-horizontal
			button.btn( data-isotope-filter="*" ).active All Photos
			button.btn( data-isotope-filter="type-1" )  Luxury Houses
			button.btn( data-isotope-filter="type-2" )  Cozy Houses
			button.btn( data-isotope-filter="type-3" )  With Swimming Pool
		.isotope.offset-custom-1.row.row-no-gutter.gallery-no-padding.custom-hover( data-isotope-layout="fitRows" )
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
				.thumbnail-gallery
					img(src="images/gallery-padding-1.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
				.thumbnail-gallery
					img(src="images/gallery-padding-2.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-1")
				.thumbnail-gallery
					img(src="images/gallery-padding-3.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
				.thumbnail-gallery
					img(src="images/gallery-padding-4.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
				.thumbnail-gallery
					img(src="images/gallery-padding-5.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
				.thumbnail-gallery
					img(src="images/gallery-padding-6.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-2")
				.thumbnail-gallery
					img(src="images/gallery-padding-7.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-3")
				.thumbnail-gallery
					img(src="images/gallery-padding-8.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link
			.isotope-item.col-12.col-md-6.col-lg-4(data-filter="type-3")
				.thumbnail-gallery
					img(src="images/gallery-padding-9.jpg" alt="" width="370" height="250")
					.caption
					.caption-wrapper
						h5.text-white Beautiful Penthouse
						p.text-white Consider this project. Is there anything really exciting to say about it?
						a(href="property-catalog-single.html").icon.icon-yellow.icon-xxs.fa-link