extends  ../_skeleton
include ../mixins/_thumbnail-mixin-6
include ../mixins/_pagination-mixin
include ../elements/_section_fullwidth
block variables
  - var activeIndex = 7
  - var title_h1 = "3 Columns Masonry Blog"
  - var bread_2 = "Blog"
  - footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var brand_name_adjuster = "images/logo-2.png"
  - var section_full_col_adjuster = ""

block title
  title 3 Columns Masonry Layout

block page
  // Page Header
  include ../elements/_header

  // Page Content
  main.page-content.text-start
    +breadcrumb_items(1)
    include ../section/blog/_section_blog_columns_3_masonry
  // Page Footer
  include ../elements/_footer-widget




