extends  ../_skeleton
include ../elements/_section_fullwidth
block variables
  - var activeIndex = 8
  - var title_h1 = "Grid Padding Gallery"
  - var bread_2 = "Gallery"
  - footer_class_adjuster = "bg-gray"
  - var section_full_adjuster = ""
  - var section_full_col_adjuster = ""
  - var brand_name_adjuster = "images/logo-2.png"
block title
  title Grid Padding Gallery
block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content.text-center.text-xl-start
    +breadcrumb_items(1)
    include ../section/gallery/_section-gallery-1

  // Page Footer
  include ../elements/_footer-widget
