extends  ../_skeleton
include ../mixins/_category-mixin
include ../mixins/_thumbnail-mixin
include ../mixins/_media-mixin
block variables
   - var activeIndex = 3
   - footer_class_adjuster = "bg-gray"
   - var swiper_class_adjuster = "swiper-vert-mid"
   - var brand_name_adjuster = "images/logo-2.png"
block title
   title Header Center
block page
   // Page Header
   include ../elements/_header-center
   include ../elements/_section_swiper
   // Page Content
   main.page-content
      include ../section/index/_section_index-3
   // Page Footer
   include ../elements/_footer-widget
