//Section Vertical Tabs
section.section-lg.section-mod-1
  .container
    h2 Vertical Button Tabs
    hr
    .row
      .col-12
        #tabs-4.tabs-custom.tabs-custom-buttons.tabs-custom-buttons-vertical.row.row-30.justify-content-center.justify-content-md-start
          .col-sm-3.col-lg-2
            ul.nav.nav-tabs
              li.nav-item(role='presentation'): a.nav-link.btn.btn-primary-transparent.btn-xs(href='#tabs-4-1' data-bs-toggle='tab') Studio Apartments
              li.nav-item(role='presentation'): a.nav-link.btn.btn-primary-transparent.btn-xs(href='#tabs-4-2' data-bs-toggle='tab') Luxury Houses
              li.nav-item(role='presentation'): a.nav-link.btn.btn-primary-transparent.btn-xs(href='#tabs-4-3' data-bs-toggle='tab') Cozy Houses
          .col-sm-6
            .tab-content
              div#tabs-4-1.tab-pane.fade Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              div#tabs-4-2.tab-pane.fade Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
              div#tabs-4-3.tab-pane.fade Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.