//Section Testimonials
section.section-lg.text-center.text-md-start.bg-clients
  .container
    h2.text-white Testimonials
    hr
    // Owl Carousel
    .row.flow-offset-1.clearleft-custom-2
      .col-12.col-md-6
        blockquote.quote
          .img-wrap
            img(src="images/index-16.jpg" alt="" width="50" height="50")
          cite.text-start
            span.h6.text-primary.text-ubold Laura Russell
            span.text-lightest Journalist, San Diego
          p
            q.text-white Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!
      .col-12.col-md-6
        blockquote.quote
          .img-wrap
            img(src="images/index-17.jpg" alt="" width="50" height="50")
          cite.text-start
            span.h6.text-primary.text-ubold Richard Santos
            span.text-lightest Web Designer, New York
          p
            q I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!
      .col-12.col-md-6
        blockquote.quote
          .img-wrap
            img(src="images/index-18.jpg" alt="" width="50" height="50")
          cite.text-start
            span.h6.text-primary.text-ubold Diana Valdez
            span.text-lightest Teacher, San Diego
          p
            q Thank you very much. I'm impressed with your service. I've already told my friends about your company and your quick response, thanks again!
      .col-12.col-md-6
        blockquote.quote
          .img-wrap
            img(src="images/client-1.jpg" alt="" width="50" height="50")
          cite.text-start
            span.h6.text-primary.text-ubold George Ortega
            span.text-lightest Manager, New York
          p
            q Great organization! Your prompt answer became a pleasant surprise for me. You`ve rendered an invaluable service! Thank you very much!
      .col-12
        a(href="#").btn.btn-sushi.btn-sm read more testimonials