//Section popular categories 1
section.section-lg.text-center.text-md-start.bg-gray-dark
  .container
    h2 Popular categories
    hr
    .row.offset-custom-11
      .col-12.col-md-6
        a.img-thumbnail-variant-1(href="property-catalog-single.html")
          img(src="images/categories-1.jpg" alt="" width="570" height="380")
          .caption
            h4.text-white Studio Apartments
            p 54 properties
      .col-12.col-md-6
        a.img-thumbnail-variant-1(href="property-catalog-single.html")
          img(src="images/categories-2.jpg" alt="" width="570" height="380")
          .caption
            h4.text-white Luxury Houses
            p 36 properties
      .col-12.col-md-6
        a.img-thumbnail-variant-1(href="property-catalog-single.html")
          img(src="images/categories-3.jpg" alt="" width="570" height="380")
          .caption
            h4.text-white Cozy Houses
            p 61 properties
      .col-12.col-md-6
        a.img-thumbnail-variant-1(href="property-catalog-single.html")
          img(src="images/categories-4.jpg" alt="" width="570" height="380")
          .caption
            h4.text-white With Swimming Pool
            p 24 properties
