//Section 3 Columns Blog
section.section-lg.bg-gray-dark
  .container
    .row.clearleft-custom-3
      .col-12.col-md-6.col-xl-4
        +thumbnail-6("images/three-column-blog-1.jpg","370", "250",  "May 10, 2016 at 7:52 pm", "Being a magnet for your, Berlin's Housing Problems Boil Over", "Real Estate", "News", "Berlin")
          p When a German property developer tried to hold a meet-and-greet barbecue for neighbors of its new 68-unit condominium in August, protesters flooded the site, waving signs and dumping piles of garbage before police clad in bulletproof vests halted further unrest.
      .col-12.col-md-6.col-xl-4
        +thumbnail-6("images/three-column-blog-2.jpg","370", "250", "May 16, 2016 at 7:52 pm", "Angelina Jolie Pitt's Childhood Home Lists for $2 Million",  "Real Estate", "News", "Berlin")
          p A childhood home of actress Angelina Jolie Pitt is listing for $2.049 million, according to real-estate agent Richard Ellis of Ellis Sotheby's International Realty.
      .col-12.col-md-6.col-xl-4
        +thumbnail-6("images/three-column-blog-3.jpg","370", "250", "May 24, 2016 at 7:52 pm", "Moshe Silagi Sells 24-Property Portfolio for $224 Million",  "Real Estate", "News", "Berlin")
          p An Israeli immigrant who built a vast real-estate empire after moving to the U.S. in 1976 has sold a 24-property portfolio in 12 states to a venture of Northstar Commercial Partners and Real Estate funds for $224 million.
      .col-12.col-md-6.col-xl-4
        +thumbnail-6("images/three-column-blog-4.jpg","370", "250", "May 27, 2016 at 7:52 pm", "Sam Nazarian Has Agreed to Sell Stake in SLS Las Vegas Hotel",  "Real Estate", "News", "Berlin")
          p You've done all the prep work. Processes are in place. Leads are flowing in. Everyone has his role. Reaching the end-of-year goal seems like it isn't too far away. You just need time and the perseverance to keep plowing through.
      .col-12.col-md-6.col-xl-4
        +thumbnail-6("images/three-column-blog-5.jpg","370", "250", "May 30, 2016 at 7:52 pm", "3 Easy Ways to Keep Real Estate Agents Motivated", "Real Estate", "News", "Berlin")
          p You've done all the prep work. Processes are in place. Leads are flowing in. Everyone has his role. Reaching the end-of-year goal seems like it isn't too far away. You just need time and the perseverance to keep plowing through.
      .col-12.offset-custom-11
        +pagination("")