-
  var rd_navbar_data_adjuster = {
    "data-layout":"rd-navbar-fixed",
    "data-sm-layout":'rd-navbar-fixed',
    "data-md-layout":"rd-navbar-fixed",
    "data-lg-layout":"rd-navbar-fixed",
    "data-xl-layout":"rd-navbar-fixed",
    "data-xxl-layout":"rd-navbar-fixed",
    "data-device-layout":"rd-navbar-fixed",
    "data-sm-device-layout":"rd-navbar-fixed",
    "data-md-device-layout":"rd-navbar-fixed",
    "data-lg-device-layout":"rd-navbar-fixed",
    "data-xl-device-layout":"rd-navbar-fixed",
    "data-xxl-device-layout":"rd-navbar-fixed",
    "data-stick-up-offset": "100px"
  }
-var rd_navbar_class_adjuster = "header_hamburger"
header.page-head
  include ../_navigation
