/*
* @subsection   Typography Custom
* @description  Describes default font settings for basic html elements and
*               css classes
*/
body {
  font-family: $font-family-base;
  font-size: $font-size-body;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  opacity: 0;

  &.fadeIn { animation-timing-function: ease-out; }
  &.fadeOut { animation-timing-function: ease-in; }

  [data-x-mode] & {
    opacity: 1;
  }
}

.tablet, .mobile {
  .page {
    padding-top: 56px;
  }
}

.page {
  padding-top: 56px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
}

img {
  width: 100%;
  height: auto;
}

dl {
  margin-bottom: 0;
}

p {
  padding: 0;
  margin: 0;

  a {
    color: $brand-sushi;
    &:hover{

    }
  }
}

.big {
  font-size: 80px;
  @include media-breakpoint-up(md) {
    font-size: 120px;
    line-height: 0.8;
  }
  @include media-breakpoint-up(xl) {
    font-size: 190px;
  }
}

[class*="glyphicon-"] {
  font-family: 'Glyphicons Halflings';
}

ul.row {
  padding-left: 0;
  li.clear-shortcode-xs-6 {
    @include media-breakpoint-down( xs ) {
      width: 100%;
    }
  }
}

/*Typography*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  margin: 0;
  padding: 0;
  a:hover {
    color: $primary;
  }
  a.text-sushi:hover{
    color: $brand-olive-drab;
  }
}

h1,
.h1 {
  font-size: 29px;
  line-height: 1.33;
  @include media-breakpoint-up(md) {
    font-size: 62px;
    line-height: $h1-line-height;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  font-size: 28px;
  line-height: 1.5;
  @include media-breakpoint-up(md) {
    font-size: 48px;
    line-height: $h2-line-height;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;
  }
}

h3,
.h3 {
  font-size: 26px;
  line-height: 1.5;
  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: $h3-line-height;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h3-font-size;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
  }
}

h5,
.h5 {
  font-size: 22px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
  }
}

h6,
.h6 {
  line-height: 1.2;
  font-weight: 400;
  @include media-breakpoint-up(md) {
    font-size: $h6-font-size;
    line-height: $h6-line-height;
  }
  .small {
    color: $gray-darker;
  }
}

small, .small {
  font-size: 14px;
}

a {
  text-decoration: none;

  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.h5,
  &.h6 {
    display: inline-block;
  }
}

/*list inline*/
.list-inline {
  li {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    a {
      color: $gray-light;
      transition: .3s;
      &:hover {
        color: $brand-sushi;
      }
    }

  }
}

hr {
  display: inline-block;
  width: 70px;
  border: 0;
  border-top: 2px solid $brand-sushi;
  margin-top: 25px;
  margin-bottom: 0;
  opacity: 1;
}

/*Contact Info*/
.contact-info {
  dt + dd {
    margin-top: 10px;
  }
}

/*Blockquote*/
blockquote.quote {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;

  q {
    font-size: 20px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
    color: $color-abbey;
    &:before, &:after {
      display: none;
    }
  }
  cite {
    color: $primary;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    border-radius: 50%;
  }
  .img-wrap {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .img-wrap + cite {
    margin-left: 15px;
  }
  cite + p {
    margin-top: 10px;
  }
  &-mod-1 {
    padding: 0 0 0 36px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      height: 1px;
      width: 30px;
      top: 16px;
      left: 0;
      background-color: $color-abbey;
    }
    cite {
      font-weight: 900;
      color: $primary;
    }
  }
  & + .quote {
    margin-top: 65px;
  }
  .small {
    &:before {
      display: none;
    }
  }
}

/*Search List*/
.search_list {
  li + li {
    margin-top: 40px;
  }
  * + p {
    margin-top: 15px;
  }
}

/*Team Member*/
.team-member {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*Banner*/
.banner {
  position: relative;
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
    * {
      color: $white-clr;
    }
  }
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {

  dt {
    font-weight: 300;
  }

  @include media-breakpoint-up( md ) {
    dt {
      text-align: left;
    }
  }
}

.dl-horizontal-mod-1 {
  dt,
  dd{
    display: inline-block;
    vertical-align: bottom;
    font-weight: 900;
  }
  dt {
    padding-right: 3px;
  }
}

dl.terms-list {
  dt + dd {
    margin-top: 22px;
  }
  dd + dt {
    margin-top: 60px;
  }
}

/* List unstyled*/

.list-unstyled {
  margin-bottom: 0;
  &-mod-1 {
    li + li {
      margin-top: 15px;
    }
    li {
      span {
        vertical-align: bottom;
      }
    }
  }
  li > a {
    vertical-align: middle;
  }
}

/* Marked list*/

.list-marked {
  padding: 0;
  margin-bottom: 0;
  li {
    position: relative;
    padding-left: 61px;
    & + li {
      margin-top: 10px;
    }
    &:before {
      content: '\f105';
      position: absolute;
      display: inline-block;
      font-family: 'FontAwesome';
      font-size: 14px;
      top: 0;
      left: 31px;
      color: $gray-lightest;
    }
  }
  &-mod-1 {
    li {
      padding-left: 32px;
      &:before {
        left: 3px;
      }
    }
  }
}

/* Ordered list */
.ordered-list {
  padding: 0;
  counter-reset: li;
  li {
    padding-left: 30px;
    & + li {
      margin-top: 10px;
    }
    &:before {
      content: counter(li, decimal) ".";
      counter-increment: li;
      margin-right: 15px;
      color: $color-abbey;
    }
  }
}

// Addresses

.address {
  margin-bottom: 0;

  .h6 + * {
    display: inline-block;
    margin-top: 15px;
  }

  dt {
    font-weight: 400;
  }
  dl {
    margin-bottom: 10px;
  }

  dl:first-of-type {
    dt {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 767px) {
    dd + dt {
      margin-top: 20px;
    }
  }
  .h4 + p {
    margin-top: 11px;
  }
}

a.text-primary:hover {
  color: $brand-trinidad;
}

/*Main Layout*/
* + .row {
  margin-top: 30px;
  @include media-breakpoint-up(xl) {
    margin-top: 56px;
  }
}

.row + .row {
  margin-top: 45px;
  @include media-breakpoint-up(md) {
    margin-top: 30px;
  }
}

* + .row {
  margin-top: 30px;
  @include media-breakpoint-up(xl) {
    margin-top: 60px;
  }
}

.category + .category {
  margin-top: 30px;
}

* + .owl-carousel {
  margin-top: 50px;
}

html .page {
  .offset {
    &-custom-1 {
      .col-md-6.col-lg-push-2 {
        margin-top: 30px;
        @include media-breakpoint-up(lg) {
          margin-top: 0;
        }
      }
    }
    &-custom-2 {
      margin-top: 30px;
      @include media-breakpoint-up(xl) {
        margin-top: 55px;
      }
    }
    &-custom-3 {
      margin-top: 40px;
      @include media-breakpoint-up(xl) {
        margin-top: 92px;
      }

    }
    &-custom-4 {
      @include media-breakpoint-between( md, xl ) {
        margin-top: 58px;
      }
    }
     &-custom-5 {
      margin-top: 30px;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
     &-custom-6 {
      margin-top: 15px;
    }
     &-custom-7 {
      margin-top: 60px;
      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }
     &-custom-8 {
      margin-top: 30px;
      @include media-breakpoint-up(md) {
        margin-top: 60px;
      }
    }
     &-custom-9 {
      @include media-breakpoint-up(lg) {
        margin-top: 50px;
      }
    }
    &-custom-10 {
      margin-top: 20px;
    }
    &-custom-11 {
      margin-top: 30px;
    }
    &-custom-12 {
      margin-top: 40px;
      @include media-breakpoint-up(md) {
        margin-top: 83px;
      }
    }
    &-custom-13{
      margin-top: 45px;
      @include media-breakpoint-up(xl) {
        margin-top: 90px;
      }
    }
    &-custom-14{
      margin-top: 60px;
      @include media-breakpoint-up(xl) {
        margin-top: 30px;
      }
    }
    &-custom-15{
      margin-bottom: 0;
    }
  }
}


.preffix {
  &-1 {
    margin-left: 10px;

  }
  &-2 {
    margin-left: 20px;
  }
}

.inset {
  &-1 {
    @include media-breakpoint-up(lg) {
      padding-top: 130px;
    }
  }
  &-2 {
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
    }
  }
  &-3 {
    padding-right: 0;
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
  }
  &-4 {
    @include media-breakpoint-up(md) {
      padding-right: 30px;
    }
  }
  &-5 {
    @include media-breakpoint-up(lg) {
      padding-right: 30px;
    }
  }
  &-6 {
    @media (min-width: 992px) {
      padding-right: 15px;
    }
  }
  &-7 {
    @include media-breakpoint-up(lg) {
      padding-left: 43px;
    }
  }
  &-8 {
    @include media-breakpoint-up(lg) {
      padding-right: 43px;
    }
  }
  &-9 {
    padding-top: 10px;
  }
  &-10{
    @include media-breakpoint-up(xl) {
      padding-left: 45px;
    }
  }
  &-11{
    padding-top: 3px;
  }
}

.flow-offset-1 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 61px;
  }
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(n+1) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+3) {
      margin-top: 61px;
    }
  }
}

.flow-offset-2 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 50px;
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
}

.flow-offset-3 {
  @include media-breakpoint-between( md, xl ) {
    [class*="col-"]:nth-child(n+3) {
      margin-top: 45px;
    }
  }
}

.flow-offset-4 {
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(n+3) {
      margin-top: 60px;
    }
  }
  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(n+3) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+4) {
      margin-top: 60px;
    }
  }

}

.flow-offset-5 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 60px;
  }
  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(n+2) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+3) {
      margin-top: 60px;
    }
  }
}

.flow-offset-6 {
  [class*="col-"]:nth-child(4),
  [class*="col-"]:nth-child(5) {
    margin-top: 45px;
  }

  @include media-breakpoint-up(lg) {
    [class*="col-"]:nth-child(n+2) {
      margin-top: 60px;
    }
  }

}

.flow-offset-7 {
  @include media-breakpoint-between( md, lg ) {
    [class*="col-sm-6"]:nth-child(n+3) {
      margin-top: 30px;
    }
  }
}

.flow-offset-8 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 45px;
  }
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(n+2) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+3) {
      margin-top: 45px;
    }
    @include media-breakpoint-up(lg) {
      [class*="col-"]:nth-child(n+3) {
        margin-top: 0;
      }
    }
  }
}

.flow-offset-9 {
  [class*="col-"]:nth-child(n+2) {
    margin-top: 45px;
  }
  @include media-breakpoint-up(md) {
    [class*="col-"]:nth-child(n+2) {
      margin-top: 0;
    }
    [class*="col-"]:nth-child(n+3) {
      margin-top: 45px;
    }
    @include media-breakpoint-up(xl) {
      [class*="col-"]:nth-child(n+3) {
        margin-top: 0;
      }
    }
  }
}

.container-fluid-mod-1{
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 1800px) {
    padding-left: 75px;
    padding-right: 75px;
    max-width: 2560px;
  }
}

.row {
  @media (max-width: 767px) {
    * + .col-12 {
      margin-top: 45px;
    }
  }

  * + .col-md-12 {
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 50px;
    }
  }
}

.row-mod-1{
  @include media-breakpoint-down(md) {
    * + .col-12 {
      margin-top: 45px;
    }
  }
  @include media-breakpoint-between(sm, md) {
    > [class*="col-"] {
      width: 50%;
    }
    > [class*="col-"]:nth-child(2){
      margin-top: 0;
    }
    > [class*="col-"]:nth-child(odd){
      clear: left;
    }
  }
}

* + p {
  margin-top: 30px;
}

.icon + p {
  margin-top: 15px;
  @include media-breakpoint-up(lg) {
    margin-top: 17px;
  }
}

* + .copyright {
  margin-top: 50px;
}
* + .btn-group-mod-1 {
  margin-top: 21px;
}

img + p {
  margin-top: 10px;
}
img + .h6 {
  margin-top: 20px;
}

hr + p {
  margin-top: 25px;
  @include media-breakpoint-up(xl) {
    margin-top: 54px;
  }
}

hr + .offset-5 {
  margin-top: 30px;
}
hr + .btn-group-mod-1,
hr + .icon-group,
hr + .row {
  margin-top: 30px;

  @include media-breakpoint-up(lg) {
    margin-top: 55px;
  }
}


h5 + p,
h4 + .icon-group{
  margin-top: 20px;
}
h4 + p,
h6 + p {
  margin-top: 10px;
}

.h6 + p {
  margin-top: 30px;
}

.counter + p {
  margin-top: 0;
}

p + .btn {
  margin-top: 15px;
}

p + p {
  margin-top: 10px;
}

p + .btn-group-isotope {
  margin-top: 70px;
}

.btn-group-isotope + .row {
  margin-top: 0;
}

.btn-group-isotope + .row-no-gutter {
  margin-top: 30px;
}

h3 + .quote {
  margin-top: 30px;
}

* + h3 {
  margin-top: 50px;
  @include media-breakpoint-up(md) {
    margin-top: 90px;
  }
}

p + ul {
  margin-top: 20px;
}

* + .list-marked, .ordered-list {
  margin-top: 10px;
}

.list-marked + p {
  margin-top: 10px;
}

h3 + img {
  margin-top: 30px;
}

h3 + .row {
  margin-top: 30px;
}

p + img {
  margin-top: 20px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

p + .btn-group-mod-2 {
  margin-top: 30px;
}

.row + h2 {
  margin-top: 40px;
}

time + p {
  margin-top: 20px;
}

.media + h2 {
  margin-top: 45px;
  @include media-breakpoint-up(lg) {
    margin-top: 87px;
  }
}

p + address {
  margin-top: 10px;
}

.product-carousel + h4 {
  margin-top: 60px;
}

.table-responsive + .table-responsive {
  margin-top: 32px;
}

h4 + .list-inline {
  margin-top: 13px;
}

p + .responsive-tabs {
  margin-top: 70px;
}

p + .table-responsive {
  margin-top: 60px;
}

p + .subscribe-mod-2,
p + .subscribe-mod-1 {
  margin-top: 20px;
}

.img-wrap-mod-1 + .btn {
  margin-top: 18px;
}

.btn + .list-unstyled-mod-1 {
  margin-top: 26px;
}

.list-unstyled-mod-1 + .list-inline {
  margin-top: 20px;
}

.list-unstyled + .describe-1 {
  margin-top: 27px;
}

* + .details-wrap {
  margin-top: 20px;
}