//Section Our Services
section.section-lg.bg-gray.text-center.text-md-start
  .container
    h2 Our Services
    hr
    .row.flow-offset-1.clearleft-custom-2
      .col-12.col-md-6
        +media("media-mod-1 inset-4","linecons-small57 icon icon-lg bg-accent", "Different Types of Properties", "We deal with different kinds of properties. No matter what you need - a house, an apartment or garage - you'll find a good option on our site. Thousands of offers and the best prices are guaranteed. Start browsing now!")
      .col-12.col-md-6
        +media("media-mod-1 inset-4","linecons-banknote icon icon-lg bg-accent", "Find Your Property", "Don't have enough money at the moment to buy a house? Or maybe you just don't plan to stay at one place for the rest of your life... We have good offers both for rent and purchase. So, every client will be satisfied with our services. ")
      .col-12.col-md-6
        +media("media-mod-1 inset-4","linecons-leaf5 icon icon-lg bg-accent", "Selling Price", "An essential step in the sale of your home is to set a realistic selling price. To do so, you need to know the current status of the market. Your broker or agent can give you an idea of the actual value of your home by comparing it to similar properties currently up for sale or recently sold in the same area. ")
      .col-12.col-md-6
        +media("media-mod-1 inset-4","linecons-like icon icon-lg bg-accent", "Varied Property Selection", "Buying or renting a property is a serious move. We understand that quite well. You will find plenty of variants that fit absolutely different requirements. Try out our service!")
