section.section-lg.section-mod-1
  
  .container
    h2 Linecons Icons
    hr
    ul.row

      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-banknote
          div banknote #[span #e000]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-big58
          div big58 #[span #e001]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-big59
          div big59 #[span #e002]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-big60
          div big60 #[span #e003]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-blockade
          div blockade #[span #e004]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-bubble1
          div bubble1 #[span #e005]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-camera6
          div camera6 #[span #e006]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-camera7
          div camera7 #[span #e007]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-cup4
          div cup4 #[span #e008]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-data3
          div data3 #[span #e009]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-diamons
          div diamons #[span #e00a]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-display14
          div display14 #[span #e00b]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-fire
          div fire #[span #e00c]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-heart3
          div heart3 #[span #e00d]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-lab
          div lab #[span #e00e]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-leaf5
          div leaf5 #[span #e00f]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-like
          div like #[span #e010]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-location4
          div location4 #[span #e011]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-news
          div news #[span #e012]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-noodle
          div noodle #[span #e013]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-note2
          div note2 #[span #e014]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-packet
          div packet #[span #e015]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-paperclip2
          div paperclip2 #[span #e016]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-paperplane
          div paperplane #[span #e017]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-parameters
          div parameters #[span #e018]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-pen3
          div pen3 #[span #e019]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-phone12
          div phone12 #[span #e01a]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-photo3
          div photo3 #[span #e01b]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-search3
          div search3 #[span #e01c]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-see
          div see #[span #e01d]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-settings3
          div settings3 #[span #e01e]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-shop1
          div shop1 #[span #e01f]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-small56
          div small56 #[span #e020]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-small57
          div small57 #[span #e021]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-small58
          div small58 #[span #e022]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-small59
          div small59 #[span #e023]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-small60
          div small60 #[span #e024]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-small61
          div small61 #[span #e025]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-sound
          div sound #[span #e026]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-stack
          div stack #[span #e027]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-study
          div study #[span #e028]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-t1
          div t1 #[span #e029]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-tag6
          div tag6 #[span #e02a]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-tv1
          div tv1 #[span #e02b]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-user12
          div user12 #[span #e02c]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-vynil
          div vynil #[span #e02d]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-wallet
          div wallet #[span #e02e]
      li.col-xl-3.col-lg-4.col-md-6.col-6.clear-shortcode-xs-6
        .icon-short-code
          div: span.icon.icon-xs.icon-primary.linecons-world5
          div world5 #[span #e02f]