//Section Button Shapes
section.section-lg.bg-gray-dark
  .container
    h2 Button Shapes
    hr
    p 3 different shapes: default, round 1 and round 2.
    .btn-group-mod-1
      a.btn.btn-sushi.btn-sm.btn-min-width-sm(href="#") default
      a.btn.btn-sushi.btn-sm.btn-min-width-sm.btn-shape-1(href="#") round
      a.btn.btn-sushi.btn-sm.btn-min-width-sm.btn-shape-2(href="#") square
      a.btn.btn-sushi.btn-sm.btn-min-width-sm.btn-shape-3(href="#") circle

