//Section Button with Shadow
section.section-lg.bg-gray-dark
  .container
    h2 Button with Shadow
    hr
    .btn-group-mod-1
      a.btn.btn-sushi.btn-sm.btn-shadow-1(href="#") shadow

      a.btn.btn-primary.btn-sm.btn-shadow-1(href="#") shadow

      a.btn.btn-primary-transparent.btn-sm.btn-shadow-1(href="#") shadow

