//Section Buttons with Icons
section.section-xl
  .container
    h2 Buttons with Icons
    hr
    .btn-group-mod-1
      a.btn.btn-primary.btn-sm.btn-min-width-md(href="#")
        span.icon.icon-left.icon-sm.fa-heart
        | add to favoRites
      a.btn.btn-primary-transparent.btn-sm.btn-min-width-md(href="#")
        span.icon.icon-left.icon-sm.fa-heart
        | add to favoRites
      a.btn.btn-primary.btn-sm.btn-min-width-md(href="#") next property
        span.icon.icon-sm.fa-arrow-right
      a.btn.btn-primary-transparent.btn-sm.btn-min-width-md(href="#") next property
        span.icon.icon-sm.fa-arrow-right


